header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  h1 {
    color: #333;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }

  .dropdown-container {
    display: flex;
    align-items: center;
    justify-content: end;

    label {
      margin-right: 5px;
      font-size: 10px;
    }
  }
}
